@import './base.css';
@import 'primeicons/primeicons.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: #e4e3e8;
}

a {
  text-decoration: none;
  color: #48da9b;
  transition: 0.4s;
  padding: 3px;
}

.main {
  padding: 2rem;
}

.header {
  font-size: 1.8rem;
  color: #48da9b;
}

.info {
  font-size: 1.1rem;
  color: #bbb7c8;
}

@media (hover: hover) {
  a:hover {
    color: #837c9a;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: #222222;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
